@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC0CB;
}
.greetings{
    font-size: 2rem;
    font-weight: 600;
}
.greetings > span{
    animation: glow 0.5s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
        color: #ff0000;
        text-shadow: 0 0 12px #5c0102, 0 0 50px #5c0102, 0 0 100px #5c0102;
    }

    50% {
        color: #ff0000; /* Ensures the color stays red throughout */
        text-shadow: 0 0 12px #5c0102, 0 0 50px #5c0102, 0 0 100px #5c0102;
    }
}

.greetings > span {
    animation: glow 3s ease-in-out infinite; /* Adjusted glow duration to 3s */
}


.description{
    font-size: 1rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: red;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
    }
    .description{
        font-size: 5px;
    }
    
    .button a{
        font-size: 10px;
    }
    .button {
      margin: 5px 4px 6px 5px;
    }
}